<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../scripts/home.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
    <link rel="stylesheet" href="../../styles/styles.css">
    <script type="module">
        import { loadNavbar } from '../../scripts/common/navbar.js';
        document.addEventListener( "DOMContentLoaded", loadNavbar );
    </script>
</head>

<body>
    <div id="navbar"></div>

    <div class="container content-container">
        <h2 id="welcomeMessage" class="text-center">Bienvenue</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Compte</th>
                    <th scope="col">Solde (€)</th>
                </tr>
            </thead>
            <tbody id="accountsTableBody"></tbody>
        </table>

        <h4 id="totalBalance" class="mt-4">Solde Total: 0.00€</h4>

        <div class="d-flex justify-content-center mt-5">
            <a href="../views/newTransfer.html" class="btn btn-outline-primary">Faire un nouveau transfert</a>
            <a href="../views/manageAccounts.html" class="btn btn-outline-primary">Gérer les comptes</a>
        </div>

        <div class="mt-4 d-flex justify-content-center">
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>