<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../scripts/signin.js"></script>
    <link rel="stylesheet" href="../../styles/styles.css">
    <script type="module">
        import { loadNavbar } from '../../scripts/common/navbar.js';
        document.addEventListener( "DOMContentLoaded", loadNavbar );
    </script>
</head>

<body>
    <div id="navbar"></div>

    <div class="container form-container">
        <h1 class="mb-4 text-center text-success">Connexion</h1>

        <form id="loginForm">
            <div class="form-group">
                <label for="email">Adresse Email</label>
                <input type="email" class="form-control" id="email" required>
                <div class="invalid-feedback">
                    Veuillez entrer une adresse email valide.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de Passe</label>
                <input type="password" class="form-control" id="password" required minlength="8">
                <div class="invalid-feedback">
                    Le mot de passe doit comporter au moins 8 caractères.
                </div>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Se Connecter</button>
        </form>
        <p class="mt-3 text-center">
            Pas encore de compte? <a href="../templates/views/signup.html">Inscrivez-vous ici</a>
        </p>
        <div id="errorMessage" class="alert alert-danger mt-4 text-center" style="display: none;">
            Échec de la connexion. Vérifiez votre email et votre mot de passe.
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>